@tailwind base;
@tailwind components;
@tailwind utilities;


/* For modern browsers */
.hide-scrollbar {
    overflow-x: auto;  /* Allows horizontal scroll */
    scrollbar-width: none;  /* Hides scrollbar in Firefox */
  }
  
  .hide-scrollbar ::-webkit-scrollbar {
    display: none;  /* Hides scrollbar in Chrome, Safari, and Edge */
  }
  

  ::-webkit-scrollbar {
    display: none;
}

/* styles.css or global CSS file */
@keyframes scroll {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-50%);
  }
}

.infinite-scroll {
  display: flex;
  animation: scroll 200s linear infinite; /* Adjust duration for speed */
}

.infinite-scroll:hover {
  animation-play-state: paused; /* Pause on hover */
}

.no-scroll {
  overflow: hidden;
}